<?php
	// echo var_dump($response);
	// echo $response['imagem'];
?>
<body onload="time(); refresh();">
	<div class="container container-body">
		<div class="row row-body">
			<div class="col-sm-9 col-divulgacao">
				<div class="row row-imagem">
					<figure id="slide">
						<img id='imagemx' height='100%' width='100%' alt='Imagem Divulgacao' src='data:image/png;base64,
							<?php
								echo $response['imagem'];
							?>'>
						</img>
					</figure>
				</div>
				<div class="row row-legenda">
					<div class="col-sm-2">
						<div id="linkQr">
							<?php
									echo "<img src='http://localhost:500/web/qr/".base64_encode($response['bd']->linkqr)."' />";
							?>
						</div>
					</div>
					<div id= "divLegenda" class="col-sm-10">
						<marquee id='marquee' behavior='scroll' direction='left' scrollamount='20'><p>
							<?php
								echo $response['bd']->legenda;
							?></p>
						</marquee>
					</div>
				</div>
			</div>
			<div class="col-sm-3 col-outros">
				<div class="row row-tempo">
					<div class="col-8">
						<div class="row">
							<div id="horaP"></div>
						</div>
						<div class="row">
							<div id="dataP">
								<?php
								echo date("d/M/Y");
								?>
							</div>
						</div>
					</div>
					<div class="col-4">
						<img id="logoIf" class="logos" alt="IFG" src="/img/if.png">
					</div>
				</div>
				<div class="row row-comentario">
					<div class="col">
						<?php
						if($response['comentarios']==NULL){
							echo '
							<div class="card text-white bg-primary mb-3">
								<div class="card-body">
									<h5 class="card-text">Seja o primeiro a comentar, acesso pelo QRCODE</h5>
								</div>
							</div>
							';
						} else {
						for($i=0;$i<count($response['comentarios']);$i++){
							echo '
								<div class="card text-white bg-primary mb-3">
									<div class="card-body">
										<p class="card-title">
											'.$response['comentarios'][$i]->created_time.'
											</p>
										<h5 class="card-text">
											'.$response['comentarios'][$i]->message.'
											</h5>
									</div>
								</div>
								';
							}
						}
						?>
					</div>
				</div>
			</div>
		</div>
	</div>
</body>

<!-- $("#slide").append("<img id='imagemx' height='100%' width='100%' src='data:image/png;base64,"+dados[posicao]['imagem']+"' alt='Imagem Divulgacao' ></img>"); -->
<!-- <marquee id='marquee' behavior='scroll' direction='left' scrollamount='30'><p>"+dados[posicao]['bd']['legenda']+"</p></marquee> -->




<!-- <body onload="time();">
	<div id="divBody1">
		<div id="divSlide">
			<figure id="slide">

			</figure>
		</div>

		<div id="divTempo">
			<div id="tempo">
				<img id="logoIf" class="logos" alt="IFG" src="img/if.png">
				<div id="horaP"></div>
				<div id="dataP"><?php echo date("d/M/Y")?></div>
			</div>
		</div>

		<div>
			<div id="divLegenda">

			</div>
		</div>

		<div id="divLinkQr">
			<div id="linkQr"></div>
		</div>

		<div id="coment">
			<figure id="imgPerfilComent"></figure>
			<div id="nomeComent" align='center'></div>
			<div id="textComent" align='center'></div>
			<div id="infoComent" align='center'></div>
		</div>
	</div>
</body> -->
