.container-administrador {
  width: 100%;
  height: 93%;
}
.container-administrador .jumbotron {
  width: 100%;
  min-height: 78%;
}

.container-administrador .jumbotron.jumbotron-home{
  width: 100%;
  min-height: 84%;
  margin-top: 0.5%;
}

.container-opcao{
  display: flex;
  flex-wrap: wrap;
  justify-content: center;
  width: 100%;
}

.flex-opcao .flex-item {
	flex: auto;
  margin: 0.5%;
}

.botao-tipo{
  width: 100%;
}

/* ADMINISTRADOR/LISTAR  */
.container-inserir{
  width: 100%;
}

.card {
  border-style: double;
  border-radius: 10px;
  width: 300px;
}

.card-body {
  margin: 5%;
  text-align: justify;
}

.container-flex{
	display: flex;
  flex-wrap: wrap;
  justify-content: center;
  width: 100%;
}

.flex-cards .flex-item {
  margin: 0.5%;
}

.input-group.nao-exibir{
  display: none;
}

/* ADMINISTRADOR/DELETAR  */

/* ADMINISTRADOR/EDITAR */
