* { margin:0; padding:0;}

html{
	height: 100%;
}

body{
	height: 100%;
}

#back{
	margin-bottom: -2%;
width: 100%;
height: 100%;
}

.container-erro{
	padding: 10px 0;
text-align: center;
font-family: Arial;
font-size: 17px;
color: #FFF;
border-radius: 3px;
background-color: #818181;
width: 22%;
height: 20px;
position: absolute;
top: 48%;
left: 41%;
}

#login{
	position: absolute;
}

.modeloInput{
	position: absolute;
	font-size: 0.95em;
color: #DADAff;
padding: 8px;
outline: none;
margin: 11px 20px;
width: 316px;
font-family: 'Exo 2', sans-serif;
border: none;
box-shadow: 0 0 2px #DADADA;
top: 20px;
}

.modeloInput:hover{
	position: absolute;
	font-size: 0.95em;
color: #DADADA;
padding: 10px;
outline: none;
margin: 11px 20px;
width: 316px;
font-family: 'Exo 2', sans-serif;
border: none;
box-shadow: 0 0 2px #DAD;
top: 20px;
}

#login{
top: 10%;
left: 39%;
}

#senha{
top: 20%;
left: 39%;
}

#btnLogin{
	position: absolute;
top: 33.3%;
left: 40.3%;
width: 7%;
}
