html, body{
	height: 100%;
	background-color: yellow;
}

/* [class*="col-"] {
  padding-left: 0;
} */

/* .container-body {
  width: 100%;
  height: 100%;
}

.row-body, .col-divulgacao, .col-comentario, .col-outros {
  height: 100%;
}

.row-imagem {
  height: 80%;
  background-color: green;
  border-radius: 5%;
}

.row-legenda {
  height: 20%;
  background-color: blue;
  border-radius: 10% 0 0px 10%;
}

.row-tempo {
  height: 20%;
  background-color: red;
  border-radius: 5%;
}

.row-comentario {
  height: 80%;
  background-color: yellow;
  border-radius: 5%;
}

#divTempo {
	width: 24%;
	height: 17%;
	position: absolute;
	float: right;
	top: 0.5%;
	right: 0.5%;
	background: white;
	border-radius: 8px;
	background: rgba(0, 0, 0, 0.56);
	box-shadow: 6px 4px 63px 0px rgba(0,0,0,1);
}

#horaP{
	color: yellow;
	font-family: verdana,arial,sans-serif;
	font-size: 320%;
}

#dataP{
	color: yellow;
	font-family: verdana,arial,sans-serif;
	font-size: 140%;
}

figure#slide {
  height: 100%;
} */

.col-sm-2{
  height: 100%;
  padding: 0;
}

#linkQr{
  height: 100%;
  width: 100%;
}

img#linkQrx {
  height: 100%;
  width: 100%;
}

#divLegenda{
	height: 100%;
}

#marquee {
	height: 98%;
}

#divLegenda p {
	color: yellow;
	font-size: 900%;
	font-family: Verdana, Arial;
}

#linkQr img{
	width: 100%;
	height: 100%;
	border-radius: 25px;
}

#logoIf{
	width: 100%;
}
