<?= $this->doctype() ?>

<html lang="en">
    <head>
        <meta charset="utf-8">
        <?= $this->headTitle('ZF Skeleton Application')->setSeparator(' - ')->setAutoEscape(false) ?>

        <?= $this->headMeta()
            ->appendName('viewport', 'width=device-width, initial-scale=1.0')
            ->appendHttpEquiv('X-UA-Compatible', 'IE=edge')
        ?>

        <!-- Le styles -->
        <?= $this->headLink(['rel' => 'shortcut icon', 'type' => 'image/vnd.microsoft.icon', 'href' => $this->basePath() . '/img/favicon.ico'])
            ->prependStylesheet($this->basePath('css/style.css'))
            ->prependStylesheet($this->basePath('css/bootstrap/bootstrap.css'))
            ->prependStylesheet($this->basePath('css/bootstrap/bootstrap.min.css'))
        ?>

        <!-- Scripts -->
        <?= $this->headScript()
        ->prependFile($this->basePath('js/bootstrap/bootstrap.min.js'))
        ->prependFile($this->basePath('js/jquery-3.1.0.min.js'))
        ?>
    </head>
    <body>
        <!-- <nav class="navbar navbar-inverse navbar-fixed-top" role="navigation">
            <div class="container">
                <div class="navbar-header auth">
                    <a class="navbar-brand auth" href="<?= $this->url('home') ?>">
                        <img src="<?= $this->basePath('img/zf-logo-mark.svg') ?>" height="28" alt="Zend Framework <?= \Adm\Module::VERSION ?>"/>&nbsp;SID
                    </a>
                </div>
            </div>
        </nav> -->
        <nav class="navbar navbar-expand-xl navbar-dark bg-dark">
          <a class="navbar-brand" href="#">SID</a>

        </nav>

        <div class="container">
            <?= $this->content ?>
            <hr>
            <footer class="footer-auth">
                <p>&copy; 2018 - <?= date('Y') ?><br>By Maxwell Borges. <br>All rights reserved.</p>
            </footer>
        </div>
        <?= $this->inlineScript() ?>
    </body>
</html>
