<?= $this->doctype() ?>

<html lang="en">
    <head>
        <meta charset="utf-8">
        <?= $this->headTitle('ZF Skeleton Application')->setSeparator(' - ')->setAutoEscape(false) ?>

        <?= $this->headMeta()
            ->appendName('viewport', 'width=device-width, initial-scale=1.0')
            ->appendHttpEquiv('X-UA-Compatible', 'IE=edge')
        ?>

        <!-- Le styles -->
        <?= $this->headLink(['rel' => 'shortcut icon', 'type' => 'image/vnd.microsoft.icon', 'href' => $this->basePath() . '/img/favicon.ico'])
            ->prependStylesheet($this->basePath('css/style.css'))
            ->prependStylesheet($this->basePath('css/administrador.css'))
            ->prependStylesheet($this->basePath('css/bootstrap/bootstrap.css'))
            ->prependStylesheet($this->basePath('css/bootstrap/bootstrap.min.css'))
        ?>

        <!-- Scripts -->
        <?= $this->headScript()
            ->prependFile($this->basePath('js/bootstrap/bootstrap.min.js'))
            ->prependFile($this->basePath('js/jquery-3.1.0.min.js'))
            ->prependFile($this->basePath('js/administrador.js'))
        ?>
    </head>
    <body>
      <nav class="navbar navbar-expand-xl navbar-dark bg-dark">
        <a class="navbar-brand" href="#">SID</a>
        <button class="navbar-toggler" type="button" data-toggle="collapse" data-target="#navbarNavDropdown" aria-controls="navbarNavDropdown" aria-expanded="false" aria-label="Alterna navegação">
          <span class="navbar-toggler-icon"></span>
        </button>
        <div class="collapse navbar-collapse" id="navbarNavDropdown">
          <ul class="navbar-nav">
            <li class="nav-item active">
              <a class="nav-link" href="<?= $this->url('auth/administrador') ?>">Home <span class="sr-only">(Página atual)</span></a>
            </li>
            <li class="nav-item">
              <a class="nav-link" href="<?= $this->url('auth/administrador',['action'=>'inserir']) ?>">Criar</a>
            </li>
            <li class="nav-item">
              <a class="nav-link" href="<?= $this->url('auth/administrador',['action'=>'listar']) ?>">Listar</a>
            </li>
            <li class="nav-item">
              <a class="nav-link" href="<?= $this->url('auth/administrador',['action'=>'sair']) ?>">Sair</a>
            </li>
          </ul>
        </div>
      </nav>
      <div class="container container-administrador">
            <?= $this->content ?>
            <hr>
            <footer class="footer-auth">
                <p>&copy; 2018 - <?= date('Y') ?>.<br>By Maxwell Borges Bezerra.<br>All rights reserved.</p>
            </footer>
        </div>
        <?= $this->inlineScript() ?>
    </body>
</html>
