
<div class="container-flex flex-opcao">
    <section class="flex-item">
      <button type="button" class="btn btn-secondary botao-tipo" onclick="myFunction(0)">Inserir Alunos/Professor</button>
    </section>
    <section class="flex-item">
      <button type="button" class="btn btn-secondary botao-tipo" onclick="myFunction(1)">Inserir Turmas</button>
    </section>
    <section class="flex-item">
      <button type="button" class="btn btn-secondary botao-tipo" onclick="myFunction(2)">Inserir Divulgações</button>
    </section>
</div>

<div class="jumbotron jumbotron-aluno">
  <div class="container container-inserir">
    <form id="form0" action="/restful/" method="POST">
      <div class="form-group">
        <select class="form-control" name="tabela">
          <option>Selecione um Tipo</option>
          <option>professor</option>
          <option>aluno</option>
        </select>
      </div>

      <div class="input-group mb-3">
        <div class="input-group-prepend">
          <span class="input-group-text" id="basic-addon1">Nome</span>
        </div>
        <input type="text" class="form-control" placeholder="Nome" name="nome" aria-label="Usuário" aria-describedby="basic-addon1" required>
      </div>
      <div class="input-group mb-3">
        <div class="input-group-prepend">
          <span class="input-group-text" id="basic-addon1">Matricula</span>
        </div>
        <input type="text" class="form-control" placeholder="Matricula" name="matricula" aria-label="Usuário" aria-describedby="basic-addon1" required>
      </div>
      <div class="input-group mb-3">
        <div class="input-group-prepend">
          <span class="input-group-text" id="basic-addon1">Senha</span>
        </div>
        <input type="password" class="form-control" placeholder="Password" name="senha" aria-label="Usuário" aria-describedby="basic-addon1" required>
      </div>
      <div class="form-group">
        <select class="form-control" id="turma" name="turma">
          <?php
            echo "<option>Selecione uma turma</option>";
            for($i=0;$i<count($response[0]);$i++){
                echo "<option>".$response[0][$i]->id."</option>";
            }
           ?>
        </select>
      </div>
      <button onclick="requisicoes(0)" type="submit"class="btn btn-primary">Inserir</button>
   </form>
  </div>
</div>

<div class="jumbotron jumbotron-turma">
  <div class="container container-inserir">
    <form id="form1" action="/restful/" method="POST">
      <div class="input-group mb-3 nao-exibir">
        <div class="input-group-prepend">
          <span class="input-group-text" id="basic-addon1">Tabela</span>
        </div>
        <input type="text" class="form-control" name="tabela" placeholder="Tipo" aria-describedby="basic-addon1" value="turma" readonly>
      </div>
      <div class="input-group mb-3">
        <div class="input-group-prepend">
          <span class="input-group-text" id="basic-addon1">Turma</span>
        </div>
        <input type="text" class="form-control" placeholder="id" name="id" aria-label="Usuário" aria-describedby="basic-addon1" required>
      </div>
      <button onclick="requisicoes(1)" type="submit"class="btn btn-primary">Inserir</button>
   </form>
 </div>
</div>

<div class="jumbotron jumbotron-divulgacao">
  <div class="container container-inserir">
    <form id="form2" action="/restful" method="POST" enctype="multipart/form-data">
      <div class="input-group mb-3 nao-exibir">
        <div class="input-group-prepend">
          <span class="input-group-text" id="basic-addon1">Tabela</span>
        </div>
        <input type="text" class="form-control" name="tabela" placeholder="Tipo" aria-describedby="basic-addon1" value="divulgacao" readonly>
      </div>

      <div class="input-group mb-3">
        <div class="input-group-prepend">
          <span class="input-group-text" id="basic-addon1">FbID</span>
        </div>
        <input type="number" class="form-control" placeholder="fbid" name="fbid" aria-label="fbid" aria-describedby="basic-addon1" required>
      </div>

      <div class="input-group mb-3">
        <div class="input-group-prepend">
          <span class="input-group-text" id="basic-addon1">LinkQr</span>
        </div>
        <input type="text" class="form-control" placeholder="LinkQr" name="linkqr" aria-label="Usuário" aria-describedby="basic-addon1" required>
      </div>

      <div class="input-group mb-3">
        <div class="input-group-prepend">
          <span class="input-group-text" id="basic-addon1">Legenda</span>
        </div>
        <input type="text" class="form-control" placeholder="Legenda" name="legenda" aria-label="Usuário" aria-describedby="basic-addon1" required>
      </div>

      <div class="input-group mb-3">
        <div class="input-group-prepend">
          <span class="input-group-text" id="basic-addon1">Object_id</span>
        </div>
        <input type="text" class="form-control" placeholder="object_id" name="object_id" aria-label="Usuário" aria-describedby="basic-addon1" required>
      </div>

      <div class="input-group mb-3">
        <div class="input-group-prepend">
          <span class="input-group-text" id="basic-addon1">Data Inicio</span>
        </div>
        <input type="text" class="form-control" placeholder="data Inicio (ANO-MES-DIA)" name="datainicio" aria-label="Usuário" aria-describedby="basic-addon1" required>
      </div>

      <div class="input-group mb-3">
        <div class="input-group-prepend">
          <span class="input-group-text" id="basic-addon1">Data Termino</span>
        </div>
        <input type="text" class="form-control" placeholder="Data Termino (ANO-MES-DIA)" name="datatermino" aria-label="Usuário" aria-describedby="basic-addon1" required>
      </div>

      <div class="input-group mb-3">
        <div class="input-group-prepend">
          <span class="input-group-text" id="inputGroupFileAddon01">Enviar arquivo</span>
        </div>
        <div class="custom-file">
          <input onclick="arquivo()" type="file" class="custom-file-input" name="imagem" id="realInput" aria-describedby="inputGroupFileAddon01">
          <label class="custom-file-label fileInfo" for="inputGroupFile01">Escolher arquivo</label>
        </div>
      </div>
     <!-- <button onclick="requisicoes(2)" type="submit" class="btn btn-primary">Inserir</button> -->
     <button type="submit" class="btn btn-primary">Inserir</button>
   </form>
 </div>
</div>

<script>
var tela = '<?php
  if(isset($this->lista)){
    echo $this->lista;
  } else {
    echo 'divulgacao';
  }
?>'

var exibir = 2;
if (tela == 'aluno'){
  exibir=0;
}  else if (tela=='turma'){
  exibir=1;
}

myFunction(exibir);
</script>
