<div class="container-flex flex-opcao">
    <section class="flex-item">
      <button type="button" class="btn btn-secondary botao-tipo" onclick="myFunction(0)">Listar Alunos</button>
    </section>
    <section class="flex-item">
      <button type="button" class="btn btn-secondary botao-tipo" onclick="myFunction(1)">Listar Professores</button>
    </section>
    <section class="flex-item">
      <button type="button" class="btn btn-secondary botao-tipo" onclick="myFunction(2)">Listar Turmas</button>
    </section>
    <section class="flex-item">
      <button type="button" class="btn btn-secondary botao-tipo" onclick="myFunction(3)">Listar Divulgações</button>
    </section>
</div>


<div class="jumbotron jumbotron-alunos">
  <div class="container-flex flex-cards">
      <?php
      if($this->response[0]==NULL){
        echo "Nenhum aluno encontrado!";
      } else {
      foreach ($this->response[0] as $key => $value) {
        echo '
          <div class="flex-item">
            <div class="card">
              <div class="card-body">
              <form id="form4" action="/restful/" method="GET">
              <div class="input-group mb-3 nao-exibir">
                <div class="input-group-prepend">
                  <span class="input-group-text"  >Nome</span>
                </div>
                <input type="text" class="form-control" placeholder="Usuário" name="tabela" aria-label="Usuário" aria-describedby="basic-addon1" value="aluno" readonly>
              </div>

              <div class="input-group mb-3 nao-exibir">
                <div class="input-group-prepend">
                  <span class="input-group-text">Nome</span>
                </div>
                <input type="text" class="form-control" placeholder="Usuário" name="modificar" aria-label="Usuário" aria-describedby="basic-addon1" value="modificar" readonly>
              </div>

              <div class="input-group mb-3">
                <div class="input-group-prepend">
                  <span class="input-group-text">Matricula</span>
                </div>
                <input type="text" class="form-control" placeholder="Usuário" name="matricula" aria-label="Usuário" aria-describedby="basic-addon1" value="'.$value->matricula.'" readonly>
              </div>

              <div class="input-group mb-3">
                <div class="input-group-prepend">
                  <span class="input-group-text">Nome</span>
                </div>
                <input type="text" class="form-control" placeholder="Usuário" name="nome" aria-label="Usuário" aria-describedby="basic-addon1" value="'.$value->nome.'">
              </div>
                <button onclick="requisicoes(4)" type="submit"class="btn btn-primary">Editar</button>
                <a href="'.$this->url('auth/administrador', ['action' => 'remover'], ['query'=>['tabela'=>'aluno','matricula'=>$value->matricula]]).'" class="btn btn-primary">Deletar</a>
              </form>
              </div>
            </div>
          </div>';
        }
      }?>
    </div>
</div>

<div class="jumbotron jumbotron-professores">
  <div class="container-flex flex-cards ">
      <?php
      if($this->response[1]==NULL){
        echo "Nenhum professor encontrado!";
      } else {
        foreach ($this->response[1] as $key => $value) {
        echo '
        <div class="flex-item">
          <div class="card">
            <div class="card-body">
            <form id="form5" action="/restful/" method="GET">

            <div class="input-group mb-3 nao-exibir">
              <div class="input-group-prepend">
                <span class="input-group-text"  >Nome</span>
              </div>
              <input type="text" class="form-control" placeholder="Usuário" name="tabela" aria-label="Usuário" aria-describedby="basic-addon1" value="professor" readonly>
            </div>

            <div class="input-group mb-3 nao-exibir">
              <div class="input-group-prepend">
                <span class="input-group-text"  >Nome</span>
              </div>
              <input type="text" class="form-control" placeholder="Usuário" name="modificar" aria-label="Usuário" aria-describedby="basic-addon1" value="modificar" readonly>
            </div>

            <div class="input-group mb-3">
              <div class="input-group-prepend">
                <span class="input-group-text"  >Matricula</span>
              </div>
              <input type="text" class="form-control" placeholder="Usuário" name="matricula" aria-label="Usuário" aria-describedby="basic-addon1" value="'.$value->matricula.'" readonly>
            </div>

            <div class="input-group mb-3">
              <div class="input-group-prepend">
                <span class="input-group-text"  >Nome</span>
              </div>
              <input type="text" class="form-control" placeholder="Usuário" name="nome" aria-label="Usuário" aria-describedby="basic-addon1" value="'.$value->nome.'">
            </div>
              <button onclick="requisicoes(5)" type="submit"class="btn btn-primary">Editar</button>
              <a href="'.$this->url('auth/administrador', ['action' => 'remover'], ['query'=>['tabela'=>'professor','matricula'=>$value->matricula]]).'" class="btn btn-primary">Deletar</a>
            </form>
            </div>
          </div>
        </div>';
        }
      }?>
    </div>
</div>

<div class="jumbotron jumbotron-turmas">
  <div class="container-flex flex-cards ">

      <?php

        if($this->response[2]==NULL){
          echo "Nenhuma Turma encontrada!";
        } else {
        foreach ($this->response[2] as $key => $value) {
        echo '
          <div class="flex-item">
            <div class="card">
              <div class="card-body">
              <form id="form6" action="/restful/" method="GET">
              <div class="input-group mb-3 nao-exibir">
                <div class="input-group-prepend">
                  <span class="input-group-text"  >Nome</span>
                </div>
                <input type="text" class="form-control" placeholder="Usuário" name="tabela" aria-label="Usuário" aria-describedby="basic-addon1" value="turma" readonly>
              </div>

              <div class="input-group mb-3 nao-exibir">
                <div class="input-group-prepend">
                  <span class="input-group-text"  >Nome</span>
                </div>
                <input type="text" class="form-control" placeholder="Usuário" name="modificar" aria-label="Usuário" aria-describedby="basic-addon1" value="modificar" readonly>
              </div>

              <div class="input-group mb-3">
                <div class="input-group-prepend">
                  <span class="input-group-text"  >ID</span>
                </div>
                <input type="text" class="form-control" placeholder="Usuário" name="id" aria-label="Usuário" aria-describedby="basic-addon1" value="'.$value->id.'" readonly>
              </div>
              <div class="input-group mb-3">
                <div class="input-group-prepend">
                  <span class="input-group-text"  >Nome</span>
                </div>
                <input type="text" class="form-control" placeholder="Usuário" name="turma" aria-label="Usuário" aria-describedby="basic-addon1" value="'.$value->id.'">
              </div>
                <a href="'.$this->url('auth/administrador', ['action' => 'remover'], ['query'=>['tabela'=>'turma','id'=>$value->id]]).'" class="btn btn-primary">Deletar</a>
              </div>
            </div>
          </div>';
        }
      }?>
    </div>
</div>

<div class="jumbotron jumbotron-divulgacoes">
    <div class="container-flex">
        <?php
        if($this->response[3]==NULL){
          echo "Nenhuma divultação encontrada!";
        } else {
          foreach ($this->response[3] as $key) {
          echo '
          <div class="flex-item-divulgacao">
            <div class="card card-divulgacao">
              <div class="card-body">
              <div class="input-group mb-3">
                <div class="input-group-prepend">
                  <span class="input-group-text"  >ID</span>
                </div>
                <input type="text" class="form-control" placeholder="Usuário" aria-label="Usuário" aria-describedby="basic-addon1" value="'.$key->fbid.'" disabled>
              </div>

                <div class="input-group mb-3">
                  <div class="input-group-prepend">
                    <span class="input-group-text"  >FbID</span>
                  </div>
                  <input type="text" class="form-control" placeholder="Usuário" aria-label="Usuário" aria-describedby="basic-addon1" value="'.$key->fbid.'" disabled>
                </div>

                <div class="input-group mb-3">
                  <div class="input-group-prepend">
                    <span class="input-group-text"  >ObjectId</span>
                  </div>
                  <input type="text" class="form-control" placeholder="Usuário" aria-label="Usuário" aria-describedby="basic-addon1" value="'.$key->object_id.'" disabled>
                </div>
                <div class="input-group mb-3">
                  <div class="input-group-prepend">
                    <span class="input-group-text"  >Inicio</span>
                  </div>
                  <input type="text" class="form-control" placeholder="Usuário" aria-label="Usuário" aria-describedby="basic-addon1" value="'.$key->datainicio.'" disabled>
                </div>
                <div class="input-group mb-3">
                  <div class="input-group-prepend">
                    <span class="input-group-text"  >Termino</span>
                  </div>
                  <input type="text" class="form-control" placeholder="Usuário" aria-label="Usuário" aria-describedby="basic-addon1" value="'.$key->datatermino.'" disabled>
                </div>
                <a href="#" class="btn btn-primary">Editar</a>
                <a href="
                '.$this->url("auth/administrador",
                            ["action" => "remover"],
                            ["query"=>
                              [
                                "tabela"=>"divulgacao",
                                "divid"=>$key->divid,
                                "fbid"=>$key->fbid,
                                "linkqr"=>$key->linkqr,
                                "legenda"=>$key->legenda,
                                "object_id"=>$key->object_id,
                                "datainicio"=>$key->datainicio,
                                "datatermino"=>$key->datatermino,
                              ]
                            ]
                          )
                .'" class="btn btn-primary">Deletar</a>
              </div>
            </div>
          </div>';
        }
      }?>
    </div>
</div>


<script>
var tela = '<?php
  if(isset($this->lista['lista'])){
    echo $this->lista['lista'];
  } else { echo 'divulgacao';}
?>'

var exibir = 3;
if (tela == 'aluno'){
  exibir=0;
} else if (tela=='professor'){
  exibir=1;
} else if (tela=='turma'){
  exibir=2;
}

myFunction(exibir);
</script>
