<?php $this->response ?>
<div class="container-flex flex-opcao">
    <section class="flex-item">
      <button type="button" class="btn btn-secondary botao-tipo" onclick="myFunction(0)">Modificar Alunos</button>
    </section>
    <section class="flex-item">
      <button type="button" class="btn btn-secondary botao-tipo" onclick="myFunction(1)">Modificar Professores</button>
    </section>
    <section class="flex-item">
      <button type="button" class="btn btn-secondary botao-tipo" onclick="myFunction(2)">Modificar Turmas</button>
    </section>
    <section class="flex-item">
      <button type="button" class="btn btn-secondary botao-tipo" onclick="myFunction(3)">Modificar Divulgações</button>
    </section>
</div>


<div class="jumbotron jumbotron-alunos">
  <div class="container-flex">
    <div class="flex-item">
      <div class="card">
        <div class="card-body">
        <form action="/restful/" method="GET">
          <div class="input-group mb-3">
            <div class="input-group-prepend">
              <span class="input-group-text" id="basic-addon1">Tabela</span>
            </div>
            <input type="text" class="form-control" placeholder="Usuário" name="tabela" aria-label="Usuário" aria-describedby="basic-addon1" value="<?php echo $this->lista ?>" readonly>
          </div>

          <div class="input-group mb-3">
            <div class="input-group-prepend">
              <span class="input-group-text" id="basic-addon1">Tipo</span>
            </div>
            <input type="text" class="form-control" placeholder="Usuário" name="modificar" aria-label="Usuário" aria-describedby="basic-addon1" value="modificar" readonly>
          </div>

        <div class="input-group mb-3">
          <div class="input-group-prepend">
            <span class="input-group-text" id="basic-addon1">Matricula</span>
          </div>
          <input type="text" class="form-control" placeholder="Usuário" name="matricula" aria-label="Usuário" aria-describedby="basic-addon1" value="<?php echo $this->response['matricula'] ?>" readonly>
        </div>

        <div class="input-group mb-3">
          <div class="input-group-prepend">
            <span class="input-group-text" id="basic-addon1">Nome</span>
          </div>
          <input type="text" class="form-control" placeholder="Usuário" name="nome" aria-label="Usuário" aria-describedby="basic-addon1" value="<?php echo $this->response['nome'] ?>">
        </div>
          <input type="submit" class="btn btn-primary" value="Editar" value="PUT"></input>
          <!-- <input type="submit" class="btn btn-primary" value="Cancelar"></input> -->
          <!-- <a href="'.$this->url('auth/administrador', ['action' => 'modificar'], ['query'=>['tabela'=>'aluno','nome'=>$value->nome,'matricula'=>$value->matricula]]).'" class="btn btn-primary">Salvar</a> -->
          <!-- <a href="'.$this->url('auth/administrador', ['action' => 'listar'], ['query'=>['tabela'=>'aluno','matricula'=>$value->matricula]]).'" class="btn btn-primary">Cancelar</a> -->
        </form>
        </div>
      </div>
    </div>
  </div>
</div>

<div class="jumbotron jumbotron-professor">
  <div class="container-flex">
      <?php foreach ($this->response[0] as $key => $value) {
        echo '
          <div class="flex-item">
            <div class="card">
              <div class="card-body">
                <h5 class="card-title">'.$value->nome.'</h5>
                <p class="card-text">'.$value->matricula.'</p>
                <a href="'.$this->url('auth/administrador', ['action' => 'modificar'], ['query'=>['nome'=>$value->nome,'matricula'=>$value->matricula]]).'" class="btn btn-primary">Editar</a>
                <a href="'.$this->url('auth/administrador', ['action' => 'remover'], ['query'=>['tabela'=>'aluno','matricula'=>$value->matricula]]).'" class="btn btn-primary">Deletar</a>
              </div>
            </div>
          </div>';
      }?>
    </div>
</div>


<div class="jumbotron jumbotron-divulgacoes">
  <div class="container-flex">
      <?php foreach ($this->response[0] as $key => $value) {
        echo '
          <div class="flex-item">
            <div class="card">
              <div class="card-body">
                <h5 class="card-title">'.$value->nome.'</h5>
                <p class="card-text">'.$value->matricula.'</p>
                <a href="'.$this->url('auth/administrador', ['action' => 'modificar'], ['query'=>['nome'=>$value->nome,'matricula'=>$value->matricula]]).'" class="btn btn-primary">Editar</a>
                <a href="'.$this->url('auth/administrador', ['action' => 'remover'], ['query'=>['tabela'=>'aluno','matricula'=>$value->matricula]]).'" class="btn btn-primary">Deletar</a>
              </div>
            </div>
          </div>';
      }?>
    </div>
</div>

<script>
var tela = '<?php
  if(isset($this->lista)){
    echo $this->lista;
  } else {
    echo 'divulgacao';
  }
?>'

var exibir = 3;
if (tela == 'aluno'){
  exibir=0;
} else if (tela=='professor'){
  exibir=1;
} else if (tela=='turma'){
  exibir=2;
}

myFunction(exibir);
</script>
