<div class="box-parent-login">
  <div class="well bg-white box-login">
    <h1 class="ls-login-logo">Sistema Integrado de Divulgacao</h1>
    <!-- <form role="form"> -->
    <form action="auth/logar" method="POST">
      <div class="jumbotron">
          <div class="form-group ls-login-user">
            <label for="userLogin">Usuário</label>
            <input class="form-control ls-login-bg-user input-lg" id="userLogin" type="text" aria-label="Usuário" name="usuario" placeholder="Usuário">
          </div>

          <div class="form-group ls-login-password">
            <label for="userPassword">Senha</label>
            <input class="form-control ls-login-bg-password input-lg" id="userPassword" type="password" aria-label="Senha" name="senha" placeholder="Senha">
          </div>
        <input type="submit" class="btn btn-primary btn-lg btn-block" value="Entrar com Usuário e Senha"></input>
        <a class="btn btn-primary btn-lg btn-block" href="<?php echo $this->logarFacebook; ?>">Entrar com Facebook</a>
      </div>

    </form>
  </div>
</div>
