<?php echo $this->doctype(); ?>

<html lang="en">
    <head>
        <meta charset="utf-8">
        <title>SID</title>

        <?php echo $this->headMeta()
            ->appendName('viewport', 'width=device-width, initial-scale=1.0')
            ->appendHttpEquiv('X-UA-Compatible', 'IE=edge')?>

        <?php echo $this->headLink(['rel' => 'shortcut icon','type' => 'image/vnd.microsoft.icon','href' => $this->basePath () . '/img/favicon.ico'])
            ->prependStylesheet($this->basePath('css/cliente.css'))
            ->prependStylesheet($this->basePath('css/bootstrap/bootstrap.css'))
            ->prependStylesheet($this->basePath('css/bootstrap/bootstrap.min.css'))
        ?>
        <?php echo $this->headScript ()
            ->prependFile($this->basePath('js/cliente.js'))
            ->prependFile($this->basePath('js/bootstrap/bootstrap.min.js'))
            ->prependFile($this->basePath('js/jquery-3.1.0.min.js'));
        ?>

    </head>
    <body>
       <?php echo $this->content; ?>
       <?php echo $this->inlineScript()?>
    </body>
</html>
